* {
  box-sizing: border-box;
}

.jombotron {
  font-size: 20px;
  padding: 40px;
  background-color: #ef4f4f;
  text-align: center;
  color: white;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
  overflow: auto;
}

h2,
h3 {
  color: #f47c7c;
}

footer {
  padding: 20px;
  color: #fff2f2;
  background-color: #f47c7c;
  text-align: center;
  font-weight: bold;
}

.profile header {
  text-align: center;
}

.profile img {
  width: 200px;
}

.featured-image {
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  object-position: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

#content {
  float: left;
  width: 75%;
}

aside {
  float: right;
  width: 25%;
  padding-left: 20px;
}

#respond {
  margin-top: 40px;
}

#respond input[type="text"],
#respond input[type="email"],
#respond textarea {
  /* margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em; */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.submit {
  background-color: #f47c7c; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.submit:hover {
  background-color: #ef4f4f;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #f47c7c;
  font-family: Arial;

  /* position: -webkit-sticky; */
  /* position: sticky; */
  /* top: 0; */
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

/* header {
  display: inline;
} */

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #fd5d5d;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ef4f4f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f47c7c;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}

.aside {
  border-top: #fd5d5d 30px solid;
  border-bottom: #fd5d5d 30px solid;
  border-radius: 0px;
}
